*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
    margin: 0;
    
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-size: cover;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 4em;
    justify-content: center;
    align-items: center;
}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;

    background-size: cover;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    left: 100px;
    bottom: 10px;
    opacity: 0;
    padding: 20px;
}

.panel.active{
    flex:5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.2s ease-in 0.4s;
    backdrop-filter: blur(10px);
}

/* .background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    backdrop-filter: blur(10px);
} */


@media screen and (max-width:720px) {
    .container{
        width: 100vw;
        flex-direction: column;
        padding: 0;
    }
    /* .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    } */
    .panel {
        width: 80vw;
        background-size: cover;
        flex: 0.3;
    }

    .panel h3 {
        font-size: 16px;
    }

    .panel.active {
        flex: 3;
    }
}




